@media (min-width:768px) and (max-width:991px){
    #nav .navbar .navbar-nav .nav-item .nav-link{
    font-size: 12px;
    padding: 0 10px;
    }
    #slic-category .banner-finder {
        width: 630px;
        padding: 15px 15px;
        border-radius: 7px;
    }
    #slic-category .banner-finder .btn-m {
        width: 28%;
        padding: 18px;
        font-size: 17px !important;
    }
    #slic-category .banner-finder .box-item {
        width: 28%;
        margin-right: 13px;
    }
    #slic-category .banner-finder .box-item h4 {
        font-size: 16px;
    }
    #slic-category .banner-finder .box-item h5 {
        font-size: 11px;
    }
    #slic-category .banner-finder .gift-txt {
        font-size: 14px;
        line-height: 9px;
    }
    #slic-category .banner-finder .btn-m {
        padding: 11px;
    }
    #best-category .best-category-main .best-category-item a img {
        height: 210px;
        width: 100%;
    }
    #best-category .best-category-main .best-category-item {
        width: 33.33333333333333%;
    }
    #online-plant .main-online-plant {
        padding: 0px 50px;
    }
    #online-plant .main-online-plant .img-item {
        padding: 0 20px;
    }
    #gift-her .main-online-plant {
        padding: 0px 39px;
        padding-bottom: 40px;
    }
    #gift-her .main-online-plant .img-item {
        padding: 0 20px;
    }
    .footer-contact .mail form input {
        width: 60%;
    }
    .footer-contact .socials ul li a i {
        font-size: 16px;
        line-height: 25px;
        width: 25px;
    }
    .footer-contact .socials ul li {
        padding: 5px;
    }





}

@media (min-width:320px) and (max-width:767px){
    .header-top{
        display: none;
    }
    .m-none{
        display: none;
    }
    .m-btn {
        background: #008539;
        color: white;
        font-size: 12px;
        padding: 6px;
        float: right;
    }
    .m-block{
        display: block;
    }
    .header-bottom form input {
        display: inline-block;
        width: 85%;
        /* float: left; */
        text-align: center;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .header-bottom ul {
        text-align: right;
        padding-right: 0px;
    }
    .header-bottom ul li a {
        color: #666;
        font-size: 15px;
    }
    .navbar-toggler {
        position: absolute;
        top: -64px;
        left: 0px;
        z-index: 888;
    }
    .skdslider ul.slide-navs li {
        display: none;
    }
    .header-bottom ul li {
        display: inline-block;
        text-align: center;
        padding: 0 0px;
        padding-top: 16px;
    }
    .header-bottom ul li a i {
        font-size: 18px;
        line-height: 1;
    }
    #slic-category .slic-bottom-text h4 {
        color: #222;
        font-size: 19px;
    }
    #slic-category .slic-bottom-text p {
        color: #222;
        font-size: 12px;
    }
    #best-category .best-category-main .content h3 {
        text-align: left;
        font-weight: 500;
        font-size: 16px;
        justify-content: space-between;
        padding-bottom: 0px;
        float: left;
    }
    #best-category .best-category-main .best-category-item {
        width: 100%;
    }
    #online-plant .main-online-plant .img-item {
        padding: 0 0px;
        text-align: center;
    }
    .footer-contact h4 {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        display: inline-block;
        padding-bottom: 6px;
        color: #222;
        line-height: 1.4;
        padding-top: 25px;
    }
    .footer-contact .partner-img {
        padding-top: 30px;
    }
    .footer-contact {
        text-align: center;
        padding: 5px 0 27px 0px;
    }
    #gift-her .main-online-plant .img-item {
        padding: 0 0px;
        padding-bottom: 30px;
        text-align: center;
    }
    #best-category .best-category-main .best-category-item {
        width: 50%;
    }
    
    nav .fa-align-justify {
        color: #008539;
        font-size: 20px;
        border: 1px solid #008539;
        padding: 7px;
    }
    #nav .navbar .navbar-nav .nav-item{
        text-align: left;
        padding-left: 30px;
    }
    #nav .navbar .navbar-nav {
        padding-bottom: 35px;
    }

}