* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

img {
  vertical-align: hidden; }

h1, h2, h3, h4, h5, h6, p, ul, li, ol, a {
  margin-top: 0;
  margin-bottom: 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: #f8f8f8; }

.clr {
  clear: both; }

.none-lg {
  display: none; }

.btn-m {
  background: #008539;
  color: white;
  float: right;
  border: 1px solid #008539;
  transition: all linear 0.2s 0s;
  -webkit-transition: all linear 0.2s 0s;
  -ms-transition: all linear 0.2s 0s;
  -o-transition: all linear 0.2s 0s; }
  .btn-m:hover {
    color: #008539;
    background: white;
    border: 1px solid #008539; }

.pt-50 {
  padding-top: 50px; }

.heightfixed {
  height: 300px;
  overflow: scroll; }

/* common css end */
header .header-top {
  background: #f8f8f8; }

header .header-top ul {
  float: right; }

header .header-top ul li {
  float: left;
  font-size: 14px;
  color: #222;
  margin: 5px;
  font-weight: 500;
  border-left: 1.5px solid #9494944a;
  padding-left: 20px; }
  header .header-top ul li a {
    font-size: 14px;
    color: #222; }

header .header-top ul .padding-hid {
  border-left: 0; }

header .header-top ul li span {
  font-weight: 300; }

header .header-top ul li i {
  margin-right: 5px; }

header .header-top ul li .right-arrow {
  margin-left: 5px; }

header .header-top ul .padding-hid i {
  padding-left: 10px;
  display: inline-block; }

.header-bottom {
  padding: 10px 0;
  background: white; }
  .header-bottom img {
    height: 60px; }
  .header-bottom form {
    padding-top: 12px; }
    .header-bottom form input {
      display: inline-block;
      width: 45%;
      float: left;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .header-bottom form .btn {
      display: inline-block;
      float: left;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      vertical-align: revert; }
    .header-bottom form .location-b {
      display: inline-block;
      float: left; }
  .header-bottom ul {
    text-align: right; }
    .header-bottom ul li {
      display: inline-block;
      text-align: left;
      padding-left: 40px;
      padding-top: 5px;
      position: relative; }
      .header-bottom ul li a {
        color: #666; }
        .header-bottom ul li a i {
          font-size: 20px;
          line-height: 1; }
        .header-bottom ul li a p {
          font-size: 13px;
          cursor: pointer;
          padding-top: 5px; }
        .header-bottom ul li a:hover {
          color: #008539;
          text-decoration: none; }
      .header-bottom ul li .dropdown-item {
        transition: all linear 0.3s 0s;
        -webkit-transition: all linear 0.3s 0s;
        -ms-transition: all linear 0.3s 0s;
        -o-transition: all linear 0.3s 0s; }
        .header-bottom ul li .dropdown-item:hover {
          color: white; }
      .header-bottom ul li .gauest {
        padding: 20px;
        background: #333;
        color: #999;
        padding-bottom: 45px; }
        .header-bottom ul li .gauest i {
          font-size: 20px;
          line-height: 1; }
      .header-bottom ul li .gauest-c {
        padding: 20px;
        color: #999;
        background: #f9f9f9;
        padding-bottom: 45px; }
        .header-bottom ul li .gauest-c i {
          font-size: 20px;
          line-height: 1; }
      .header-bottom ul li hr {
        margin: 0px; }
      .header-bottom ul li .user-float {
        float: left; }
        .header-bottom ul li .user-float i {
          padding-right: 10px;
          font-size: 22px; }
      .header-bottom ul li .login {
        float: right;
        padding-right: 20px;
        color: white; }
        .header-bottom ul li .login:hover {
          color: white; }
  .header-bottom .menu-cart {
    position: absolute;
    top: 60px;
    opacity: 0;
    visibility: hidden;
    z-index: 888;
    background: #f9f9f9;
    width: 370px;
    left: -80% !important;
    transition: all linear 0.3s 0s;
    -webkit-transition: all linear 0.3s 0s;
    -ms-transition: all linear 0.3s 0s;
    -o-transition: all linear 0.3s 0s; }
  .header-bottom .menu-user {
    position: absolute;
    top: 60px;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    background: #f9f9f9;
    width: 250px;
    left: -70% !important;
    transition: all linear 0.3s 0s;
    -webkit-transition: all linear 0.3s 0s;
    -ms-transition: all linear 0.3s 0s;
    -o-transition: all linear 0.3s 0s; }
  .header-bottom .nav-item:hover .menu-cart {
    opacity: 1;
    visibility: visible; }
  .header-bottom .nav-item:hover .menu-user {
    opacity: 1;
    visibility: visible; }
  .header-bottom .cart {
    padding: 14px;
    background: #f9f9f9; }
    .header-bottom .cart .cart-img {
      float: left;
      width: 30%; }
      .header-bottom .cart .cart-img img {
        display: inline-block;
        width: 100%;
        height: 100px;
        width: 100px; }
    .header-bottom .cart .img-content {
      float: right;
      width: 65%;
      text-align: left; }
      .header-bottom .cart .img-content a {
        font-weight: 500;
        font-size: 17px;
        padding-bottom: 5px; }
      .header-bottom .cart .img-content .amount {
        padding-top: 5px;
        font-size: 13px; }
    .header-bottom .cart .btn-m {
      display: block;
      color: white;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px; }
      .header-bottom .cart .btn-m:hover {
        color: #008539; }
  .header-bottom ul {
    padding-top: 20px;
    padding: 0 14px; }
    .header-bottom ul .total-left-acount {
      float: left;
      padding-left: 0; }
  .header-bottom .checkout {
    background: #ff9212;
    display: block;
    text-align: center;
    padding: 10px;
    color: wheat;
    font-size: 18px;
    margin-top: 10px; }

#nav {
  background: #f8f8f8; }
  #nav .navbar .navbar-nav .nav-item .nav-link {
    color: #222;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    position: relative;
    display: inline-block;
    outline: 0;
    padding: 0 15px;
    transition: all linear 0.2s 0s;
    -webkit-transition: all linear 0.2s 0s;
    -ms-transition: all linear 0.2s 0s;
    -o-transition: all linear 0.2s 0s; }
    #nav .navbar .navbar-nav .nav-item .nav-link:hover {
      color: #008539; }
    #nav .navbar .navbar-nav .nav-item .nav-link:focus {
      color: #008539; }
  #nav .navbar .navbar-nav .nav-item .active {
    color: #008539; }

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #008539; }

.dropdown-item.active, .dropdown-item:focus {
  color: #fff;
  text-decoration: none;
  background-color: #008539; }

.dropdown-item.active, .dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #008539; }

#slic-category {
  position: relative; }
  #slic-category .banner-finder {
    position: absolute;
    top: -35px;
    left: 50%;
    width: 900px;
    background: white;
    transform: translateX(-50%);
    padding: 20px 20px;
    border-radius: 7px;
    z-index: 999; }
    #slic-category .banner-finder .gift-txt {
      display: inline-block;
      color: #222;
      font-size: 18px;
      font-weight: 600;
      white-space: pre-line;
      line-height: 11px;
      text-align: left;
      float: left;
      text-transform: uppercase;
      padding-right: 20px; }
    #slic-category .banner-finder .box-item {
      background: #f6f6f6;
      padding: 0px 7px;
      border-radius: 7px;
      border: 1px solid #ccc;
      float: left;
      width: 30%;
      margin-right: 15px; }
      #slic-category .banner-finder .box-item h4 {
        display: block;
        width: 100%;
        text-align: left;
        font-size: 18px;
        border-radius: 4px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        position: relative;
        z-index: 1;
        margin-bottom: -9px;
        background: #f6f6f6;
        color: #222;
        font-weight: 500;
        cursor: pointer;
        transition: all ease-in-out 0.25s;
        padding-left: 10px; }
    #slic-category .banner-finder .btn-m {
      width: 27%;
      height: 100%;
      padding: 15px 12px;
      float: left;
      display: inline-block;
      background: #ff9212;
      color: #fff;
      text-transform: uppercase;
      font-weight: 500 !important;
      font-size: 18px !important;
      border-radius: 4px;
      border: 0;
      transition: all ease-in-out 0.25s; }
    #slic-category .banner-finder select {
      text-transform: none;
      border: none;
      background: none;
      appearance: none;
      font-size: 14px;
      font-weight: 400;
      padding: 10px; }

#slic-category .slider-main {
  padding-top: 85px; }
  #slic-category .slider-main .slider-item {
    padding: 20px 25px;
    text-align: center;
    transition: all linear 0.3s 0s;
    -webkit-transition: all linear 0.3s 0s;
    -ms-transition: all linear 0.3s 0s;
    -o-transition: all linear 0.3s 0s; }
    #slic-category .slider-main .slider-item:hover {
      box-shadow: 1px 1px 10px 0px #999;
      transform: scale(1.1);
      border-radius: 10%; }
    #slic-category .slider-main .slider-item img {
      width: 100%;
      display: inline-block;
      border-radius: 50%; }
    #slic-category .slider-main .slider-item figcaption {
      padding-top: 20px; }
#slic-category .slic-bottom-text {
  padding-bottom: 25px; }
  #slic-category .slic-bottom-text h4 {
    color: #222;
    font-size: 26px;
    text-align: center;
    font-weight: 300; }
  #slic-category .slic-bottom-text p {
    color: #222;
    font-size: 14px;
    font-weight: 400;
    text-align: center; }

#best-category .content {
  background: white;
  padding-top: 30px; }
  #best-category .content h3 {
    text-align: left;
    font-weight: 500;
    font-size: 24px;
    justify-content: space-between;
    padding-bottom: 15px;
    float: left; }
#best-category .best-category-main {
  background: white;
  padding: 0px 15px 30px 15px; }
  #best-category .best-category-main .best-category-item {
    width: 25%;
    padding: 0 12px;
    padding-top: 25px; }
    #best-category .best-category-main .best-category-item a {
      padding: 10px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.233);
      display: inline-block;
      overflow: hidden; }
      #best-category .best-category-main .best-category-item a .b-img {
        overflow: hidden; }
      #best-category .best-category-main .best-category-item a img {
        height: 300px;
        transition: all linear 0.3s 0s;
        -webkit-transition: all linear 0.3s 0s;
        -ms-transition: all linear 0.3s 0s;
        -o-transition: all linear 0.3s 0s; }
      #best-category .best-category-main .best-category-item a h4 {
        color: #222;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        padding-top: 15px;
        padding-bottom: 15px; }
    #best-category .best-category-main .best-category-item:hover img {
      transform: scale(1.2); }

#online-plant .main-online-plant {
  padding: 0px 75px;
  background: white; }
  #online-plant .main-online-plant h2 {
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    width: 100%;
    color: #222;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px; }
  #online-plant .main-online-plant .img-item {
    padding: 0 40px;
    text-align: center; }
    #online-plant .main-online-plant .img-item h3 {
      font-weight: 500;
      font-size: 24px;
      color: #222;
      line-height: 1.4;
      padding-top: 10px; }
    #online-plant .main-online-plant .img-item p {
      text-align: center;
      font-size: 14px;
      line-height: 1.5;
      color: #242424;
      padding-bottom: 45px; }

#gift-her .main-online-plant {
  padding: 0px 75px;
  background: white;
  padding-bottom: 50px; }
  #gift-her .main-online-plant h2 {
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    width: 100%;
    color: #222;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px; }
  #gift-her .main-online-plant .img-item {
    padding: 0 35px;
    text-align: center; }
    #gift-her .main-online-plant .img-item h3 {
      font-weight: 500;
      font-size: 24px;
      color: #222;
      line-height: 1.4;
      padding-top: 10px; }
    #gift-her .main-online-plant .img-item p {
      text-align: center;
      font-size: 14px;
      line-height: 1.5;
      color: #242424; }

#footer-top {
  background: white;
  margin-top: 50px;
  padding: 50px 0; }
  #footer-top h2 {
    color: #222;
    font-weight: 500 !important;
    font-size: 18.8px;
    line-height: 1.4;
    padding-bottom: 20px; }
  #footer-top p {
    font-size: 14px;
    line-height: 1.5;
    color: #242424;
    text-align: justify;
    font-weight: normal; }

.footer-contact {
  text-align: center;
  padding: 50px 0 35px 0px; }
  .footer-contact h4 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    display: inline-block;
    padding-bottom: 20px;
    color: #222;
    line-height: 1.4; }
  .footer-contact .mail {
    text-align: center; }
    .footer-contact .mail form {
      display: flex;
      text-align: center;
      display: inline-block; }
      .footer-contact .mail form input {
        width: 72%;
        display: inline-block;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
      .footer-contact .mail form .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        vertical-align: revert;
        background: #f78828;
        border: 1px solid #da7532; }
  .footer-contact .socials ul {
    text-align: center; }
    .footer-contact .socials ul li {
      display: inline-block;
      padding: 7px; }
      .footer-contact .socials ul li a i {
        font-size: 20px;
        color: white;
        border-radius: 50%;
        line-height: 30px;
        width: 30px;
        text-align: center;
        background: #1877f2;
        border: 1px solid #e6002302;
        transition: all linear 0.2s 0s;
        -webkit-transition: all linear 0.2s 0s;
        -ms-transition: all linear 0.2s 0s;
        -o-transition: all linear 0.2s 0s; }
        .footer-contact .socials ul li a i:hover {
          background: white;
          color: #1877f2;
          border: 1px solid #1877f2; }
      .footer-contact .socials ul li a .fa-twitter {
        background: #00acee; }
        .footer-contact .socials ul li a .fa-twitter:hover {
          background: white;
          color: #00acee;
          border: 1px solid #00acee; }
      .footer-contact .socials ul li a .fa-pinterest-p {
        background: #E60023; }
        .footer-contact .socials ul li a .fa-pinterest-p:hover {
          background: white;
          color: #E60023;
          border: 1px solid #E60023; }
      .footer-contact .socials ul li a .fa-instagram {
        background: #fbad50; }
        .footer-contact .socials ul li a .fa-instagram:hover {
          background: white;
          color: #fbad50;
          border: 1px solid #fbad50; }
  .footer-contact .payment-method {
    text-align: center; }
    .footer-contact .payment-method img {
      width: 70%; }
  .footer-contact .partner-img {
    padding-top: 60px; }
    .footer-contact .partner-img img {
      width: 80%; }

footer {
  padding-bottom: 20px;
  padding-top: 30px;
  border-top: 1px solid white;
  text-align: center; }
  footer ul {
    text-align: center; }
    footer ul li {
      display: inline-block; }
      footer ul li a {
        color: #666;
        font-size: 12px;
        font-family: inherit;
        line-height: 1.6;
        list-style-position: outside;
        border-left: 1px solid #222;
        padding: 0 5px; }
      footer ul li .firstnone {
        border-left: 1px solid rgba(34, 34, 34, 0); }
  footer p {
    color: #666;
    font-size: 12px;
    font-family: inherit;
    line-height: 1.6;
    list-style-position: outside;
    padding-top: 10px; }

/* 

font-family: 'Roboto', sans-serif;

 */

/*# sourceMappingURL=style.css.map */
