$mainc:#008539;
$twob: #222;
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@mixin trans($time,$del) {
    transition: all linear $time $del;
    -webkit-transition: all linear $time $del;
    -ms-transition: all linear $time $del;
    -o-transition: all linear $time $del;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    vertical-align: hidden;
}
h1,h2,h3,h4,h5,h6,p,ul,li,ol,a{
    margin-top: 0;
    margin-bottom: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #f8f8f8;
}
.clr{
    clear: both;
}
.none-lg{
    display: none;
}
.btn-m{
    background: $mainc;
    color: white;
    float: right;
    border: 1px solid $mainc;
    @include trans(.2s,0s );
    &:hover{
        color:$mainc;
        background:white;
        border: 1px solid $mainc;
    }
}
.pt-50{
    padding-top: 50px;
}
.heightfixed{
    height: 300px;
    overflow: scroll;
}
/* common css end */



header .header-top{
    background: #f8f8f8;
}
 header .header-top ul{
    float: right;
 }
 header .header-top ul li{
    float: left;
    font-size:14px;
    color:#222;
    margin: 5px;
    font-weight: 500;
    border-left: 1.5px solid #9494944a;
    padding-left: 20px;
    a{
        font-size:14px;
    color:#222;
    }
 }
 header .header-top ul .padding-hid{
    border-left:0;
 }
 header .header-top ul li span{
    font-weight: 300;
 }
 header .header-top ul li i{
    margin-right: 5px;
 }
 header .header-top ul li .right-arrow{
    margin-left: 5px;
 }
 header .header-top ul .padding-hid i{
    padding-left: 10px;
    display: inline-block;
 }
//  header part end

.header-bottom{
    padding: 10px 0;
    background: white;
    img{
        height: 60px;
    }
    form{
        padding-top: 12px;
        input{
            display: inline-block;
            width: 45%;
            float: left;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .btn{
            display: inline-block;
            float: left;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            vertical-align: revert;
        }
        .location-b{
            display: inline-block;
            float: left;
        }
    }
    ul{
        text-align: right;
        
        li{
            display: inline-block;
            text-align: center;
            padding-left: 40px;
            padding-top: 5px;
            position: relative;
            a{
                color: #666;
                i{
                    font-size: 20px;
                        line-height: 1;
                }
                p{
                    font-size: 13px;
                    cursor: pointer;
                    padding-top: 5px;
                }
                &:hover{
                    color:$mainc;
                    text-decoration: none;
                }

            }
            .dropdown-item{
                @include trans(.3s,0s );
                &:hover{
                    color:white;
                }
            }
            .gauest{
                padding: 20px;
                background: #333;
                color:#999;
                padding-bottom: 45px;
                i{
                    font-size: 20px;
                        line-height: 1;
                }
            }
            .gauest-c{
                padding: 20px;
                color:#999;
                background:#f9f9f9;
                
                padding-bottom: 45px;
                i{
                    font-size: 20px;
                        line-height: 1;
                }
            }
            hr{
                margin: 0px;
            }
            .user-float{
                float: left;
                
                i{
                    padding-right: 10px;
                font-size: 22px;
                }
            }
            .login{
                float: right;
                padding-right: 20px;
                color: white;
                &:hover{
                    color:white;
                }
            }
        }
    }
    .menu-cart{
        position: absolute;
        top: 60px;
        opacity: 0;
         visibility: hidden;
        z-index: 888;
        background: #f9f9f9;
        width: 370px;
        left: -80% !important;
        @include trans(.3s,0s );
    }
    .menu-user{
        position: absolute;
        top: 60px;
        opacity: 0;
         visibility: hidden;
        z-index: 888;
        background: #f9f9f9;
        width: 250px;
        left: -70% !important;
        @include trans(.3s,0s );
    }
    .nav-item{
        
            &:hover .menu-cart{
                opacity: 1;
                visibility: visible;
            }
            &:hover .menu-user{
                opacity: 1;
                visibility: visible;
            }
        
    }
    .cart{
        padding: 14px;
        background: #f9f9f9;
        .cart-img{
            float: left;
                width: 30%;
            img{
                display: inline-block;
                width: 100%;
                height: 100px;
                width: 100px;
            }
        }
        .img-content{
            float: right;
            width: 65%;
            a{
               font-weight: 500;
               font-size: 17px;
               padding-bottom: 5px;
            }
            .amount{
                padding-top: 5px;
                font-size: 13px;
            }

        }
        .btn-m{
            display: block;
            color: white;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
            &:hover{
                color:$mainc;
            }
        }
        
        
    }
    ul{
        padding-top: 20px;
        padding: 0 14px;
        .total-left-acount{
            float: left;
            padding-left: 0;
        }
    }
    .checkout{
        background: #ff9212;
        display: block;
        text-align: center;
        padding: 10px;
        color: wheat;
        font-size: 18px;
        margin-top: 10px;
       
    }
}
// navbar part start
#nav{
    background: #f8f8f8;
    .navbar{
        
        .navbar-nav{
            .nav-item{
                .nav-link{
                    color: #222;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 13px;
                    position: relative;
                    display: inline-block;
                    outline: 0;
                    padding: 0 15px;
                    @include trans(.2s,0s );
                    &:hover{
                        color:$mainc;
                    }
                    &:focus{
                        color:$mainc;
                    }
                }
                .active{
                    color:$mainc;
                }
            }
        }
    }
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: $mainc;
}
.dropdown-item.active, .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: $mainc;
}
.dropdown-item.active, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: $mainc;
}
// .nav-fixed{
//     position: fixed;
//     left:0;
//     top:0;
//     z-index: 998;
//     width:100%;
//     background: rgba(62, 3, 3, 0.9);
// }
// navbar part end



#slic-category{
    position: relative;
    .banner-finder{
        position: absolute;
        top:-35px;
        left:50%;
        width:900px;
        background: white;
        transform: translateX(-50%);
        padding: 20px 20px;
        border-radius: 7px;
        z-index: 999;
        .gift-txt{
            display: inline-block;
            color: #222;
    font-size: 18px;
    font-weight: 600;
    white-space: pre-line;
    line-height: 11px;
    text-align: left;
    float: left;
    text-transform: uppercase;
    padding-right: 20px;
        }
        .box-item{
            background: #f6f6f6;
            padding: 0px 7px;
            border-radius: 7px;
            border: 1px solid #ccc;
            float: left;
            width: 30%;
            margin-right: 15px;
            h4{
                display: block;
    width: 100%;
    text-align: left;
    font-size: 18px;
    border-radius: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: -9px;
    background: #f6f6f6;
    color: #222;
    font-weight: 500;
    cursor: pointer;
    transition: all ease-in-out 0.25s;
    padding-left: 10px;
            }
            
        }
        .btn-m{
            width: 27%;
            height: 100%;
            padding: 15px 12px;
            float: left;
            display: inline-block;
    background: #ff9212;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500 !important;
    font-size: 18px !important;
    border-radius: 4px;
    border: 0;
    transition: all ease-in-out 0.25s;
        }
        select{
            text-transform: none;
            border: none;
            background: none;
            appearance:none;
            font-size: 14px;
    font-weight: 400;
    padding: 10px;
            
        }
        
    }
}

// slic category part start
#slic-category{
    .slider-main{
        padding-top: 85px;
        .slider-item{
            padding:20px 25px;
            text-align: center;
            @include trans(.3s,0s );
            &:hover{
                box-shadow: 1px 1px 10px 0px #999;
                transform:scale(1.1);
                border-radius: 10%;
            }
            img{
                width:100%;
                display: inline-block;
                border-radius: 50%;

            }
            figcaption{
                padding-top: 20px;
            }
        }
    }
    .slic-bottom-text{
        padding-bottom: 25px;
        h4{
            color:$twob;
            font-size: 26px;
            text-align: center;
            font-weight: 300;
        }
        p{
            color:$twob;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
        }
    }
}
// slic category part end



// best category part start
#best-category{
    .content{
        background: white;
        padding-top: 30px;
        h3{
            text-align: left;
             font-weight: 500;
             font-size: 24px;
              justify-content: space-between;
              padding-bottom: 15px;
              float: left;
        }
    }
        .best-category-main{
            background: white;
            padding:  0px 15px 30px 15px;
            
            .best-category-item{
                width: 25%;
                padding: 0 12px;
                padding-top: 25px;
                a{
                    padding: 10px;
                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.233);
                    display: inline-block;
                    overflow: hidden;
                    .b-img{
                        overflow: hidden;
                    }
                    img{
                        height: 300px;
                        @include trans(.3s,0s );
                    }
                    h4{
                        color: #222;
                     white-space: nowrap;
                     overflow: hidden;
                     text-overflow: ellipsis;
                     text-align: center;
                     font-weight: 500;
                     font-size: 16px;
                     padding-top: 15px;
                     padding-bottom: 15px;
                    }
                }
                &:hover img{
                    transform: scale(1.2);
                }
            }
           
        }
    }
// best category part end


#online-plant{
    .main-online-plant{
        padding:  0px 75px;
        background: white;
        h2{
            text-align: center;
    font-size: 26px;
    font-weight: 500;
    width: 100%;
    color: #222;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
        }
        .img-item{
            padding: 0 40px;
            text-align: center;
            h3{
                font-weight: 500;
                font-size: 24px;
                color: #222;
                line-height: 1.4;
                padding-top: 10px;
            }
            p{
                text-align: center;
                font-size: 14px;
                line-height: 1.5;
                color: #242424;
                padding-bottom: 45px;
            }
        }
    }
    
}


#gift-her{
    .main-online-plant{
        padding:  0px 75px;
        background: white;
        padding-bottom: 50px;
        h2{
            text-align: center;
    font-size: 26px;
    font-weight: 500;
    width: 100%;
    color: #222;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
        }
        .img-item{
            padding: 0 35px;
            text-align: center;
            h3{
                font-weight: 500;
                font-size: 24px;
                color: #222;
                line-height: 1.4;
                padding-top: 10px;
            }
            p{
                text-align: center;
                font-size: 14px;
                line-height: 1.5;
                color: #242424;
            }
        }
    }
    
}

#footer-top{
    background: white;
    margin-top: 50px;
    padding: 50px 0;
    h2{
        color: #222;
        font-weight: 500 !important;
        font-size: 18.8px;
        line-height: 1.4;
        padding-bottom: 20px;
    }
    p{
        font-size: 14px;
        line-height: 1.5;
        color: #242424;
        text-align: justify;
        font-weight: normal;
    }
}

.footer-contact{
    text-align: center;
    padding: 50px 0 35px 0px;
    h4{
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        display: inline-block;
        padding-bottom:20px;
        color: #222;
        line-height: 1.4;
    }
    .mail{
        
        text-align: center;
        
        form{
            display: flex;
            text-align: center;
            display: inline-block;
            input{
                width:72%;
                display: inline-block;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            .btn{
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                vertical-align: revert;
                background: #f78828;
                border: 1px solid #da7532;
            }
        }
    }
    .socials{
        ul{
            text-align: center;
            li{
                
                display:inline-block;
                padding: 7px;
                a{
                    
                   
                    i{
                       font-size: 20px;
                       color:white;
                       border-radius: 50%;
                       line-height: 30px;
                       width:30px;
                       text-align: center;
                       background: #1877f2;
                      
                       border: 1px solid #e6002302;
                       @include trans(.2s,0s );
                       &:hover{
                        background:white;
                        color:#1877f2;
                        border: 1px solid #1877f2;
                    }
                    }
                    .fa-twitter{
                        background: #00acee;
                        &:hover{
                            background:white;
                            color:#00acee;
                            border: 1px solid #00acee;
                        }
                    }
                    .fa-pinterest-p{
                        background:#E60023;
                        &:hover{
                            background:white;
                            color:#E60023;
                            border: 1px solid #E60023;
                        }
                    }
                    .fa-instagram{
                        background:#fbad50;
                        &:hover{
                            background:white;
                            color:#fbad50;
                            border: 1px solid #fbad50;
                        }
                    }

                }
            }
        }
    }
    .payment-method{
        text-align: center;
        img{
            width:70%;
        }
    }
    .partner-img{
        padding-top: 60px;
        img{
            width:80%;
        }
    }
}

footer{
    padding-bottom: 20px;
    padding-top: 30px;
    border-top: 1px solid white;
    text-align: center;
    ul{
        text-align: center;
        li{
            display: inline-block;
            
            a{
                color: #666;
                 font-size: 12px;
                 font-family: inherit;
                line-height: 1.6;
             list-style-position: outside;
             border-left: 1px solid #222;
             padding: 0 5px;

            }
            .firstnone{
                border-left: 1px solid rgba(34, 34, 34, 0);
            }
        }
    }
    p{
        color: #666;
                 font-size: 12px;
                 font-family: inherit;
                line-height: 1.6;
             list-style-position: outside;
             padding-top: 10px;
    }
}

/* 

font-family: 'Roboto', sans-serif;

 */